*{
  margin: 0;
}
.App{
  display: flex;
  overflow: hidden;
  flex-direction: row;
}
.sidebar{
  background-color: #eb4c4c;
  width: 22%;
  height: 100vh;
  position: fixed;
}
.sidebar_img_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.sidebar_image{
  width: 70%;
  border-radius: 10000px;
  align-items: center;
}
.sidebar_name{
  margin-top: 10px;
  font-size: 2.2vw;
  text-align: center;
  color: white;
  font-weight: bolder;
}
.sidebar_contact{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.sidebar_contact_box{
  margin-bottom: 10px;
  margin-left: 15px;
}
.middlebar{
  margin-left: 22%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.middlebar_1{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('./assets/blackbr.jpg');
  background-size: cover;

}
.middlebar_1_t1{
  text-align: center;
  color: white;
  font-size: 100px;
}
.middlebar_1_t2{
  text-align: center;
  color: white;
  font-size: 50px;
}
.middlebar_2_1{
  background-color: #eb4c4c;
}
.middlebar_2_1_t1{
  font-size: 60px;
  color: white;
}
.middlebar_2_2{
  display: flex;
}
.middlebar_2_2_1{
  border-radius: 5px;
  width: 50%;
  margin:10px 10px 10px 10px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.middlebar_2_2_2{
  width: 50%;
  margin:10px 10px 10px 10px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  border-radius: 5px;
}
.middlebar_2_2_name{
  font-size: 2.3vw;
  color: #eb4c4c;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 10px;
}
.middlebar_2_2_place{
  font-size: 1.6vw;
  margin-left: 10px;
}
.middlebar_2_2_degree{
  font-size: 1.9vw;
  margin-left: 10px;
}
.middlebar_2_2_date{
  font-size: 1.7vw;
  margin-left: 10px;
}
.middlebar_2_2_marks{
   font-size: 1.9vw;
   margin-left: 10px;
   margin-bottom: 10px;
}
.middlebar_6{
  display: none;
}

@media only screen and (max-width: 900px) {
.App{
flex-direction: column;
}
.sidebar{
  position: relative;
  width: 100%;
  height: 100%;
}
.sidebar_image{
  width: 50%;
}
.sidebar_name{
  font-size: 10vw;
}
.sidebar_contact{
  display: none;
}
.middlebar{
  margin-left: 0;
}
.middlebar_1{
  height: 100%;
}
.middlebar_1_t1{
  font-size: 15vw;
}
.middlebar_1_t2{
  font-size: 10vw;
}
.middlebar_6{
  display: inline;
}
.middlebar_2_1_t1{
  font-size: 45px;
}
.middlebar_2_2{
  display: inline;
}
.middlebar_2_2_1{
  width: 100%;
  margin-left: 0px;
}
.middlebar_2_2_2{
  width: 100%;
  margin-left: 0px;
}
.middlebar_2_2_name{
  font-size: 23px;
  margin-top: 10px;
  padding-top: 10px;
}
.middlebar_2_2_place{
  font-size: 15px;
}
.middlebar_2_2_degree{
  font-size: 20px;
}
.middlebar_2_2_date{
  font-size: 17px;
  margin-left: 10px;
}
.middlebar_2_2_marks{
  font-size: 20px;
  padding-bottom: 10px;
}


}