.blogs{
    margin: 0px;
}
.header{
    background-color: #eb4c4c;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_1{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    margin-left: 20px;

}
.header_2{
    font-size: 30px;
    color: white;
    margin-left: 6px;

}
.header_3{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    margin-left: 6px;

}
.blog_box{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.blog_title{
    margin-left: 10px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.blog_date{
    margin-left: 10px;
    font-size: 20px;
    color: black;
    
}

@media only screen and (max-width: 900px) {
    .header_1{
        font-size: 6vw;
        color: white;
        font-weight: bolder;
        margin-left: 10px;
    
    }
    .header_2{
        font-size: 6vw;
        color: white;
        margin-left: 6px;
    
    }
    .header_3{
        font-size: 6vw;
        color: white;
        font-weight: bolder;
        margin-left: 6px;
    
    }
    .blog_box{
        margin-left: 10px;
        margin-right: 10px;
    }
}