.Home{
    display: flex;
    overflow: hidden;
    flex-direction: row;
}
.sidebar{
    background-color: #eb4c4c;
    width: 22%;
    height: 100vh;
    position: fixed;
  }
  .sidebar_img_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .sidebar_image{
    width: 70%;
    border-radius: 10000px;
    align-items: center;
  }
  .sidebar_name{
    margin-top: 10px;
    font-size: 2.2vw;
    text-align: center;
    color: white;
    font-weight: bolder;
  }
  .sidebar_contact{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .sidebar_contact_box{
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .sidebar_blogs{
      position: absolute;
      bottom: 0;
      background-color: aliceblue;
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 5px;

  }
  .middlebar{
    margin-left: 22%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  .middlebar_blogs{
    display: none;
  }
  .middlebar_1{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('./assets/blackbr.jpg');
    background-size: cover;
  
  }
  .middlebar_1_t1{
    text-align: center;
    color: white;
    font-size: 100px;
  }
  .middlebar_1_t2{
    text-align: center;
    color: white;
    font-size: 50px;
  }
  .middlebar_2_1{
    background-color: #eb4c4c;
  }
  .middlebar_2_1_t1{
    font-size: 60px;
    color: white;
  }
  .middlebar_2_2{
    display: flex;
  }
  .middlebar_2_2_1{
    border-radius: 5px;
    width: 50%;
    margin:10px 10px 10px 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }
  .middlebar_2_2_2{
    width: 50%;
    margin:10px 10px 10px 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 5px;
  }
  .middlebar_2_2_name{
    font-size: 2.3vw;
    color: #eb4c4c;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 10px;
  }
  .middlebar_2_2_place{
    font-size: 1.6vw;
    margin-left: 10px;
  }
  .middlebar_2_2_degree{
    font-size: 1.9vw;
    margin-left: 10px;
  }
  .middlebar_2_2_date{
    font-size: 1.7vw;
    margin-left: 10px;
  }
  .middlebar_2_2_marks{
     font-size: 1.9vw;
     margin-left: 10px;
     margin-bottom: 10px;
  }
  .middlebar_3_1_t1{
    font-size: 60px;
    color: white;
  }
  .middlebar_3_2{
    display: flex;
    margin-top: 10px;
  }
  .middlebar_3_2_p{
    width: 50%;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 5px;
  }
  .middlebar_3_2_p_title{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #eb4c4c;
    font-weight: bolder;
  }
  .middlebar_3_2_p_description{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }
  .middlebar_3_2_p_logo{
    height: 50px;
  }
  .middlebar_3_3{
    display: flex;
  }
  /*Skils Section*/
  .middlebar_4{
    margin-top: 10px;
  }
  .middlebar_4_2{
    margin: 10px 10px 10px 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .middlebar_4_3{
    margin: 10px 10px 10px 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }
  .middlebar_4_4{
    margin: 10px 10px 10px 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  }
  .middlebar_4_2_title{
    padding: 5px 0px 0px 10px;
    font-size: 30px;
    color: #eb4c4c;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .middlebar_4_2_1{
    display: flex;
  }
  .middlebar_4_2_1_pname{
    margin-left: 10px;
    width: 15%;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
  }
  .middlebar_4_2_1_status{
    background-color: #ffa6a6;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .middlebar_4_3_1{
    display: flex;
  }
  .middlebar_4_3_1_1{
    display: flex;
    width: 50%;
  }
  .middlebar_4_3_1_box{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .middlebar_4_3_1_box_title{
    font-size: 1.9vw;
    text-align: center;
    background-color: #eb4c4c;
    color:white;
    border-radius: 5px 5px 0px 0px;
  }
  .middlebar_4_3_1_box_list{
    padding-left: 10px;
    font-size: 1.5vw;
    font-weight: bold;
  }
  
  
  
  
  
  
  
  
  
  .middlebar_4_4_1{
    display: flex;
  }
  .middlebar_4_4_1_1{
    display: flex;
    width: 50%;
  }
  .middlebar_4_4_1_box{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .middlebar_4_4_1_box_language{
    padding-left: 10px;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
  }
  .middlebar_5_1{
    margin: 10px 10px 10px 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding:10px 10px 10px 10px;
  }
  .middlebar_5_1_text{
    font-size: 20px;
  }
  
  
  
  
  
  
  
  
  
  .middlebar_6{
    display: none;
  }

  @media only screen and (max-width: 900px) {
  .Home{
  flex-direction: column;
  }
  .sidebar{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .sidebar_image{
    width: 50%;
  }
  .sidebar_name{
    font-size: 10vw;
  }
  .sidebar_contact{
    display: none;
  }
  .sidebar_blogs{
      display: none;
  }
  .middlebar{
    margin-left: 0;
  }
  .middlebar_blogs{
    display: inline;
  }
  .middlebar_1{
    height: 100%;
  }
  .middlebar_1_t1{
    font-size: 15vw;
  }
  .middlebar_1_t2{
    font-size: 10vw;
  }
  .middlebar_6{
    display: inline;
  }
  .middlebar_2_1_t1{
    font-size: 45px;
  }
  .middlebar_2_2{
    display: inline;
  }
  .middlebar_2_2_1{
    width: 100%;
    margin-left: 0px;
  }
  .middlebar_2_2_2{
    width: 100%;
    margin-left: 0px;
  }
  .middlebar_2_2_name{
    font-size: 23px;
    margin-top: 10px;
    padding-top: 10px;
  }
  .middlebar_2_2_place{
    font-size: 15px;
  }
  .middlebar_2_2_degree{
    font-size: 20px;
  }
  .middlebar_2_2_date{
    font-size: 17px;
    margin-left: 10px;
  }
  .middlebar_2_2_marks{
    font-size: 20px;
    padding-bottom: 10px;
  }
  /*Project Section*/
  .middlebar_3_1_t1{
    font-size: 45px;
  }
  .middlebar_3_2{
    display: flex;
    flex-direction: column;
  }
  .middlebar_3_3{
    display: flex;
    flex-direction: column;
  }
  .middlebar_3_2_p{
    width: 100%;
    margin: 10px 0px 10px 0px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 5px;
  }
  .middlebar_4_2_1_pname{
    font-size: 3vw;
  }
  .middlebar_4_3_1{
    display: flex;
    flex-direction: column;
  }
  .middlebar_4_3_1_1{
    width: 100%;
  }
  .middlebar_4_3_1_box{
    width: 50%;
  }
  .middlebar_4_3_1_box_title{
    font-size: 4.5vw;
  }
  .middlebar_4_3_1_box_list{
    font-size: 3.5vw;
  }
  
  .middlebar_4_4_1{
    display: flex;
    flex-direction: column;
  }
  .middlebar_4_4_1_1{
    width: 100%;
  }
  .middlebar_4_4_1_box{
    width: 50%;
  }
  .middlebar_4_4_1_box_title{
    font-size: 10vw;
  }
  .middlebar_4_4_1_box_language{
    font-size: 3.5vw;
  }
  .middlebar_6{
    background-color: #eb4c4c;
  }
  
  }